
body {
	background-color: lightgray;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color: dark;
}
.nav-link:hover {
	transform: scale(1.20);
}
.nav-link:hover {
  text-decoration: underline;
}
.nav-logo {
	height: 42px;
	width: 42px;
	filter: brightness(0) invert(1) sepia(0) saturate(10000%);
}
@media (max-width: 600px) {
	.nav-logo {
		max-width: 30px;
	}
	.navbar {
		font-size: 14px;
	}
}
@media (max-width: 600px) {
	.myPicture {
		max-width: 240px;
		max-height: 240px;
	}
}

/*.navbar {
	background-color: #2E3F4C;
}*/

.logos:hover {
	transform: scale(1.30);
}
.myName {
	font-weight: 600;
	letter-spacing: 8px;
}
.mySpacing {
	letter-spacing: 5px;
}

.card-body {
	background-color: #2E3F4C;
	color: white;
}

.logo-tools:hover {
	transform: scale(1.10);
}
.logo-tools {
	height: 100px;
	width: 100px;
}
.btn {
	background-color: #2E3F4C;
}

.certificate {
	height: 320px;
}






/*.footer {
	background-color: #2E3F4C;
}*/
